:root {
    --bg-color: #0a0a0a;
    --main-bg-color: #2c2c30; opacity: 90%;
    --second-bg-color: #696969;
    --text-color:#c0c0c0;
    --text-hover-color:#909090;
}

button{
  border: none;
	padding: 0;
  cursor: pointer;
}

input{
  background-color: var(--second-bg-color);
}

::placeholder {
  color: var(--text-color);
}

body{
    background-color: var(--bg-color);
    opacity: 100%;
    overflow-x: hidden;
}

h1,h2,h3{
  font-weight: 100;
  font-family: 'Concert One', sans-serif;
}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
}

#video_spacing{
  width: 100%;
  height: auto;
}

video{
  z-index: -1;
  height: 720px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#overlay{
  z-index: 1;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-color);
  display: block;
  background-color: var(--second-bg-color);
  text-align: center;
}

#overlay h1{
  display: inline;
}

#answer_spacing{
  padding-top: 20px;
}

div#sidenav > div:first-child{
  padding-top: 50px;
}
#sidenav{
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  transition:left 0.6s;
}


#hide-sidebar-btn{
    top:0;
    right:0;
    width: 30px;
    height: 60px;
    position: absolute;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
#hide-sidebar-btn:focus{
  outline: none;
}
#dark-mode{
    bottom: 0;
    position: absolute;
    width: 20%;
    font-size: 40px;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    display: block;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    font-family: 'B612', sans-serif;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--text-hover-color);
  }

  #anime_search, #kitsu_login{
    width: 180px;
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
  }

  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: var(--main-bg-color);
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }